<div class='media'>
  <%= gravatar_for message.user, class: 'mr-3' %>
  <div class='media-body'>
    <h5 class='mt-0'>
      <%= message.user.name %>
      -
      <%= l(message.created_at, format: :short) %>
    </h5>
    <%= message.body %>
  </div>
</div>
