body, html {
  margin: 0;
  height: 100%;
}
body{
  overflow: hidden;
}

.container-fluid, .parent{
  height: 100%;
  padding-bottom: 5em;
}

#scroller {
  position: relative;
  float: left;
  text-align: left;
  height:100%;
  overflow-y: auto;
  width: 100%;
}

#message_body {
  min-width: 100%;
  margin-right: .5rem;
}

.fixed-bottom {
  padding: 0 .5em;
}

#messages {
  h5 {
    font-size: 0.75rem;
  }
}

h1 {
  border-bottom: 1px solid #343a40;
  margin-bottom: 0;
  padding: .5rem;
  font-size: 1.75rem;
  font-weight: bolder;
}

.media {
  .media-body .message {
    background: #f5f4f2;
    border-radius: 0 10px 10px 10px;
  }
}